body {
	font-family: "Montserrat", sans-serif;
	background: #f5f7fa;
}
.container {
	max-width: 1200px;
	background: #ffffff;
	box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
	display: flex;
	margin: 0 auto;
}

.main_content {
	padding: 105px 88px;
}
/* sidebar */
.contacts,
.tech-skills,
.soft-skills {
	margin-top: 50px;
	margin-left: 40px;
}
.sidebar {
	background: #1e2939;
	color: #ffffff;
	padding-top: 40px;
	width: 370px;
}
.photo {
	width: 370px;
	min-height: 354px;
}
/* contacts */
.sidebar_title {
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	margin-bottom: 8px;
}
.contact_list {
	list-style-type: none;
	padding: 0;
}
.contact_list__item {
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
}
.contact_list__item:first-child > a {
	text-decoration: none;
}
.contact_list__item > a {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
	opacity: 0.5;
}
.contact_list__item:first-child::before {
	content: "C:";
	display: inline-block;
	padding-right: 12px;
}
.contact_list__item:last-child::before {
	content: "E:";
	display: inline-block;
	padding-right: 12px;
}
/* Tech/Soft SliLLs */
.sidebar-skills_list {
	color: #fb6d3a;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	padding-left: 0;
	margin-left: 17px;
}
.sidebar_text {
	color: #ffffff;
}
/* about */
.about {
	margin-bottom: 43px;
}
.about_title {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	margin-bottom: 19px;
}
.about_name {
	font-weight: 700;
	font-size: 45px;
	line-height: 55px;
	color: #000000;
	margin-bottom: 24px;
}
.about_text {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
	max-width: 400px;
}
.main_title {
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	color: #000000;
	margin-bottom: 10px;
}
.project {
	margin-bottom: 50px;
}
.project_list {
	padding: 0;
	margin-left: 15px;
}

.project_list__item {
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}
.project_list__link,
.project_tech {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
	text-decoration: none;
}
.project_list__link {
	margin-left: 17px;
}
/* work */
.work {
	margin-bottom: 43px;
}
.work_company:not(:last-child) {
	margin-bottom: 20px;
}
.work_position {
	margin-bottom: 11px;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
}
.work_company_name {
	color: #fb6d3a;
}
.work_period {
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #a8a8a8;
}
.work_list {
	padding: 0;
	margin-left: 15px;
	width: 525px;
}
.work_list__item {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
}
/* Education */
.education {
}
.university {
	margin-bottom: 10px;
}
.university_name {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #fb6d3a;
  margin-bottom: 11px;
}
.university_speciality {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
  margin-bottom: 12px;
}
.university_period {
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #a8a8a8;
}
